# Proxy Jenkins
server {
    listen 80;
    server_name jenkins.karagodin-ka.ru;

    client_max_body_size 20m;

    access_log /var/log/nginx/jenkins.log;
    error_log /var/log/nginx/jenkins_error.log error;

    location / {
             proxy_pass http://10.200.80.4:8080;
             proxy_set_header Connection "";
             proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
             proxy_http_version 1.1;
    }
}

# Proxy grafana
server {
    listen 80;
    server_name grafana.karagodin-ka.ru;

    client_max_body_size 20m;

    access_log /var/log/nginx/grafana.log;
    error_log /var/log/nginx/grafana_error.log error;

    location / {
             proxy_pass http://10.200.80.7:3000;
    }
}

# Proxy test app for prod
server {
    listen 80;
    server_name web.karagodin-ka.ru;

    client_max_body_size 20m;

    access_log /var/log/nginx/web.log;
    error_log /var/log/nginx/web_error.log error;

    location / {
             proxy_pass http://10.200.110.4;
             proxy_set_header Connection "";
             proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
             proxy_http_version 1.1;
    }
}

# Proxy test app for stage
server {
    listen 80;
    server_name test-web.karagodin-ka.ru;

    client_max_body_size 20m;

    access_log /var/log/nginx/test-web.log;
    error_log /var/log/nginx/test-web_error.log error;

    location / {
             proxy_pass http://10.200.100.6;
             proxy_set_header Connection "";
             proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
             proxy_http_version 1.1;
    }
}

